<!DOCTYPE html>
<html ng-app="patientChatApp">
<head>
    <title>Health App v4.0</title>
        <link rel="stylesheet" href="style.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <script src="socket.io/socket.io.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-route.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <!-- <script src="js/app.js"></script> -->
        <script src="js/controller.js"></script>
        <script src="js/dirPagination.js"></script>
        <!-- <script src="/angoose/angoose-client.js"></script> -->
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button> -->
    <a class="navbar-brand" href="#">Login</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     <!--  <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
      </ul> -->

        <form class="navbar-form navbar-left" action="/login" method="post">
            <div class="form-group">
              <input type="text" placeholder="Email" name="email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>

      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
      </form>

    </div><!-- /.navbar-collapse
  </div><!-- /.container-fluid -->
</nav>


<div class="row">
    <div class="col-md-3 col-md-offset-1">
    <h1>Health App <small> v4.0</small></h1>
    <p class="lead">COMP308 | Assignments 1-4<br />Joanne Tanson 300767984</p>

    <p>Begin by logging in to your account.<br />
    Don't have one? Sign up with your email and password.</p>

    <a class="btn btn-primary btn-block" href="#PatientDetails">Patient Form</a>
    <a class="btn btn-info btn-block" href="#PatientList">Patient List</a>   
    <!-- <a class="btn btn-default btn-block" href="#Login">Login Form</a>  -->

    <!-- <p class="small">Need an account? <a href="#SignUp">Signup</a></p> -->
    </div>

    <div class="col-sm-offset-1 col-sm-3"><br />
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>
    </div>

    <div class="col-sm-2 text-right">
    <h3><span class="fa fa-lock"></span> Authentication Required</h3>
    </div>
    
    <hr />

    <div class="col-sm-offset-1 col-sm-5 text-left">

    <h3><span class="fa fa-sign-in"></span> Signup</h3>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
        <div class="form-group">
            <!-- <label>Email</label> -->
            Email: <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <!-- <label>Password</label> -->
            Password: <input type="password" class="form-control" name="password">
        </div>
        <!-- <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" name="firstName">
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" name="lastName">
        </div> -->

        <button type="submit" class="btn btn-default btn-lg">Signup</button>
    </form>

</div>  
    


    </div>

</body>
</html>