      <!-- required for pagination -->
      <!-- <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->

      <div ng-controller="patientVisits as visit">
      <div class="row col-md-offset-1 col-md-9">
      <br />
          <table class="table table-striped">
            <tr>
              <th><a href="" ng-click="predicate = 'complaint'; reverse=false">Complaint</a></th>
              <th><a href="" ng-click="predicate = 'amount'; reverse=false">Billing Amount</a></th>
              <td align="center" colspan="2">
              <!-- Search: <input type="text" ng-model="search.lastName" placeholder="Search by last name"> -->
              </td>
            </tr>
                <tr ng-repeat="visit in visits | filter:search | orderBy:predicate:reverse">
                <!-- <tr dir-paginate="visit in visits | filter:search | itemsPerPage: pageSize" current-page="currentPage"> -->
                
                    <td align="center">{{visit.complaint}}</td>
                    <td align="center">{{visit.amount}}</td>

                    <td align="center">
                    <input class="btn btn-default btn-xs" type="submit" ng-click="modifyVisit(visit)" value="Modify" /></td>
                    <td align="center">
                    <input class="btn btn-default btn-xs" type="submit" ng-click="deleteVisit(visit)" value="Delete" /></td>
                </tr>
            </table>
            </div>

<!--         <div class="row" ng-controller="OtherController" class="other-controller">
          <div class="text-center">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
          </div>
        </div> -->

        </div>
