    <div class="row" ng-controller="patientDetails">
        <br />

        <form class="form-group form-group-sm col-md-offset-1">

            First Name: 
            <input class="form-control" type="text" ng-model="patient.firstName" pattern="^[A-Z][a-z0-9_-]{2,19}$" required />
            <br />

            Last Name: 
            <input class="form-control" type="text" ng-model="patient.lastName" pattern="^[A-Z][a-z0-9_-]{2,19}$" required />
            <br />

            Phone Number: 
            <input class="form-control" type="text" ng-model="patient.phoneNo" pattern="^[0-9]{10}$" />
            <br />
            
            Last Visit (mm-dd-yyyy): 
            <input class="form-control" type="text" ng-model="patient.lastVisitDate" 
            pattern="^(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d$" required />
            <br />

            Status: 
            <input type="radio" ng-model="patient.Status" value="Active" selected="selected" /> Active
            <input type="radio" ng-model="patient.Status" value="Inactive" /> Inactive
            <br />

            <div class="col-md-offset-9">
            <input class="btn btn-default btn-sm" type="reset" ng-click="reset()" value="Reset" />
            <input class="btn btn-primary btn-sm" type="submit" ng-click="saveDB(patient)" value="Save to DB" />
            </div>
            
        </form>
        
    </div>
